@{
    var currentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
    Func<string,string> currentOrNot = (string x) => { return currentController == x ? "CurrentAPI" : ""; };

}
<ul id="menu">
    <li>
        @Html.ActionLink("User", "Index", "User",null, new { @class = currentOrNot("User") })</li>
    <li>
        @Html.ActionLink("Issues", "Index", "Issues", null, new { @class = currentOrNot("Issues") })</li>
    <li>
        @Html.ActionLink("Network", "Index", "Network", null, new { @class = currentOrNot("Network")})</li>
    <li>
        @Html.ActionLink("Repository", "Index", "Repository", null, new { @class = currentOrNot("Repository") })</li>
    <li>
        @Html.ActionLink("Commit", "Index", "Commit", null, new { @class = currentOrNot("Commit")})</li>
    <li>
        @Html.ActionLink("Object", "Index", "Object", null, new { @class = currentOrNot("Object") })</li>
    <li>
        @Html.ActionLink("Gists", "Index", "Gists", null, new { @class = currentOrNot("Gists") })</li>
</ul>
